body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
}

.hero {
    background-color: #0A3D62;
    color: white;
    padding: 40px;
    text-align: center;
}

.navbar {
    background-color: #083358;
    padding: 12px;
    text-align: center;
}

.navbar a {
    color: white;
    margin: 12px;
    text-decoration: none;
    font-weight: bold;
}

.content {
    background-color: white;
    margin: 30px;
    padding: 30px;
    border-radius: 6px;
}
.project-box {
    border-left: 5px solid #2ecc71;   /* green accent */
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.project-box h3 {
    margin-top: 0;
    color: #2f3640;
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.skill-box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}
.service-list li {
    background-color: #f9f9f9;
    padding: 12px;
    margin-bottom: 10px;
    border-left: 4px solid #2ecc71;
    list-style-position: inside;
}
